{{ define "main" }}

<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0 position-relative">
            <div id="carousel-1" class="carousel carousel-1 slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/img/2018/05/cdb9cfdb-539f-4a55-97b2-0bd3ac2d4816.c10-1-1024x768.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/2018/05/6460e15d-6024-4e10-9c72-9d3c3b737510.c10-1024x768.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/2018/05/Theater-1-1024x576.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/2018/05/99b2c518-54b9-4919-800b-bc695c8fb8ea.c10-1024x768.jpg" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/2018/05/68e31014-c380-4964-a23d-a9f755b79f17.c10-1024x768.jpg" alt="Fifth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/2018/05/Ark-Foyer-1-1024x576.jpg" alt="Sixth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/2018/05/f04b47b3-2124-4ed3-933e-c2e93e9f1c4a.c10-1-1024x768.jpg" alt="Seventh slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/img/2018/05/b0561cce-4557-4d80-958b-3a4c3eb3af93.c10-1-1024x768.jpg" alt="Eighth slide">
                    </div>
                </div>
            </div>
            <div class="carousel-text position-absolute text-center">
                <h1>WEB WHISKY WEEKEND 5</h1>
                <h3 class="p-1 m-3">A weekend getaway for people who enjoy fine whisky, amazing food, and great conversation.</h3>
                <h2>LAKE LANIER, GA // OCTOBER 3rd-6th, 2019</h2>
            </div>
        </div>
    </div>
</div>

{{ end }}
