body {
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

header {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
header .navbar a {
  font-weight: 500;
}
header .navbar .navbar-nav {
  font-size: 16px;
}

header {
  background-color: #222;
}
header .navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
header .navbar a {
  color: #ddd;
}
header .navbar a:first-child {
  padding-bottom: 10px;
}
header .navbar a:hover {
  color: #d93;
  text-decoration: none;
}
header .navbar .navbar-toggler {
  color: #ddd;
  padding-bottom: 10px;
}
header .navbar .navbar-toggler:focus {
  outline: none;
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(221,221,221, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header .navbar .navbar-nav .nav-item .nav-link {
  padding: 15px;
}
header .navbar .navbar-nav .nav-item hr {
  border-color: #434343;
}
header .navbar .navbar-nav .nav-item:first-child {
  border-top: 1px solid #434343;
}
header .navbar .navbar-nav .active > .nav-link {
  color: #d93;
}

@media (min-width: 992px) {
  header .navbar {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }
  header .navbar a:first-child {
    padding-bottom: 0;
  }
  header .navbar .navbar-nav .nav-item hr {
    display: none;
  }
  header .navbar .navbar-nav .nav-item:first-child {
    border-top: none;
  }
}
@media (min-width: 1200px) {
  header .navbar {
    max-width: 1140px;
  }
}
footer .container-fluid:first-child {
  font-size: 18px;
  background-color: #444;
  padding-top: 30px;
}
footer .container-fluid:first-child h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}
footer .container-fluid:first-child p {
  margin-bottom: 10px;
}
footer .container-fluid:first-child a {
  color: #d93;
}
footer .container-fluid:first-child a:hover {
  color: #fff;
}
footer .container-fluid:first-child hr {
  margin: 20px 0;
}
footer .container-fluid:first-child h4, footer .container-fluid:first-child p {
  font-size: 18px;
  color: #ddd;
}
footer .container-fluid:first-child .col-sm-6 {
  margin-bottom: 40px;
}
footer .container-fluid:nth-child(2) {
  font-size: 12px;
  background-color: #333;
  padding-top: 20px;
}
footer .container-fluid:nth-child(2) a {
  color: #d93;
}
footer .container-fluid:nth-child(2) a:hover {
  color: #a62;
}
footer .container-fluid:nth-child(2) .navbar {
  padding: 0;
}
footer .container-fluid:nth-child(2) .navbar .navbar-nav {
  flex-direction: row;
  margin-bottom: 10px;
}
footer .container-fluid:nth-child(2) .navbar .navbar-nav .nav-item {
  padding-right: 20px;
  padding-bottom: 15px;
}
footer .container-fluid:nth-child(2) .navbar .navbar-nav .nav-item:last-child {
  padding-right: 0;
}
footer .container-fluid:nth-child(2) .navbar .navbar-nav .nav-item .nav-link {
  padding: 0;
}
footer .container-fluid:nth-child(2) .navbar .navbar-nav .active > .nav-link {
  color: #a62;
}
footer .container-fluid:nth-child(2) .col-md-6.align-self-center {
  color: #aaa;
  padding-bottom: 20px;
}

@media (max-width: 575.98px) {
  footer .container-fluid:nth-child(2) .navbar .navbar-nav .nav-item {
    padding-right: 10px;
  }
}
@media (max-width: 767.98px) {
  footer .container-fluid:nth-child(2) .navbar {
    justify-content: center;
  }
  footer .container-fluid:nth-child(2) .col-md-6.align-self-center {
    text-align: center;
  }
}
@media (min-width: 768px) {
  footer .container-fluid:nth-child(2) .col-md-6.align-self-center {
    text-align: right;
  }
}
.home .section-1 .carousel-1-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.home .section-1 .carousel-1-item-1 {
  background-image: url("/img/2018/05/cdb9cfdb-539f-4a55-97b2-0bd3ac2d4816.c10-1-1024x768.jpg");
}
.home .section-1 .carousel-1-item-2 {
  background-image: url("/img/2018/05/6460e15d-6024-4e10-9c72-9d3c3b737510.c10-1024x768.jpg");
}
.home .section-1 .carousel-1-item-3 {
  background-image: url("/img/2018/05/Theater-1-1024x576.jpg");
}
.home .section-1 .carousel-1-item-4 {
  background-image: url("/img/2018/05/99b2c518-54b9-4919-800b-bc695c8fb8ea.c10-1024x768.jpg");
}
.home .section-1 .carousel-1-item-5 {
  background-image: url("/img/2018/05/68e31014-c380-4964-a23d-a9f755b79f17.c10-1024x768.jpg");
}
.home .section-1 .carousel-1-item-6 {
  background-image: url("/img/2018/05/Ark-Foyer-1-1024x576.jpg");
}
.home .section-1 .carousel-1-item-7 {
  background-image: url("/img/2018/05/f04b47b3-2124-4ed3-933e-c2e93e9f1c4a.c10-1-1024x768.jpg");
}
.home .section-1 .carousel-1-item-8 {
  background-image: url("/img/2018/05/b0561cce-4557-4d80-958b-3a4c3eb3af93.c10-1-1024x768.jpg");
}
.home .section-1 .carousel-text {
  top: 0;
  right: 0;
  left: 0;
  padding: 200px 0;
  margin: 0 auto;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.home .section-1 .carousel-text h1, .home .section-1 .carousel-text h2 {
  font-family: "Oswald", sans-serif;
  color: #fff;
}
.home .section-1 .carousel-text h1 {
  font-size: 90px;
  font-weight: 500;
}
.home .section-1 .carousel-text h2 {
  font-size: 30px;
  font-weight: 400;
}
.home .section-1 .carousel-text h3 {
  font-size: 36px;
  color: #ddd;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .home .section-1 .carousel-text {
    padding: 100px 0;
  }
  .home .section-1 .carousel-text h1 {
    font-size: 50px;
  }
}
.home .section-2 h3.py-1.my-3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: #333;
}
.home .section-2 .col-12.col-md-7 {
  color: #808080;
}
.home .section-2 .col-12.col-md-7 p {
  font-size: 18px;
  line-height: 1.45;
}
.home .section-2 .col-12.col-md-7 a {
  color: #d93;
}
.home .section-2 .col-12.col-md-7 a:hover {
  color: #a62;
  text-decoration: none;
}
.home .section-2 ul {
  list-style: none;
}
.home .section-2 ul li {
  white-space: nowrap;
}
.home .section-2 ul li .fa {
  width: 44.8px;
  height: 44.8px;
  font-size: 36px;
  font-weight: 900;
  color: #d93;
  vertical-align: middle;
  text-align: center;
  margin-right: 30px;
}
.home .section-2 ul li h3 {
  font-family: "Georgia", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  margin-bottom: 0;
  white-space: normal;
}
@media (max-width: 575.98px) {
  .home .section-2 ul {
    padding: 0;
  }
  .home .section-2 ul li {
    width: 75%;
  }
  .home .section-2 ul li .fa {
    margin-right: 15px;
  }
}
.home .section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/2018/05/cdb9cfdb-539f-4a55-97b2-0bd3ac2d4816.c10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 18px;
}
.home .section-3 h1 {
  font-size: 36px;
}
.home .section-3 h4 {
  font-size: 18px;
}
.home .section-3 a {
  color: #d93;
}
.home .section-3 a:hover {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .home .section-3 h1 {
    word-wrap: break-word;
  }
}
.home .section-4 .row.py-1.my-3 .img-fluid.py-4 {
  cursor: pointer;
}
.home .section-4 .modal .modal-dialog {
  max-width: 75vw;
  margin: 1.75rem auto;
}
.home .section-4 .modal .modal-dialog .close {
  position: absolute;
  right: -15%;
  color: #fff;
  z-index: 2;
}
.home .section-4 .modal .modal-dialog .carousel-control-prev {
  left: -15%;
}
.home .section-4 .modal .modal-dialog .carousel-control-next {
  right: -15%;
}
.home .section-5 .carousel-2-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.home .section-5 .carousel-2-item-1 {
  background-image: url("/img/2017/06/steak-1024x768.jpg");
}
.home .section-5 .carousel-2-item-2 {
  background-image: url("/img/2017/06/cheese-board-1024x768.jpg");
}
.home .section-5 .carousel-2-item-3 {
  background-image: url("/img/2017/06/2016-11-12-14.41.55-2-1024x1024.jpg");
}
.home .section-5 .carousel-2-item-4 {
  background-image: url("/img/2017/06/serving-dinner-1024x768.jpg");
}
.home .section-5 .carousel-2-item-5 {
  background-image: url("/img/2016/06/2015-11-14-20.38.15-1024x768.jpg");
}
.home .section-5 .carousel-2-item-6 {
  background-image: url("/img/2017/06/dinner-1024x768.jpg");
}
.home .section-5 .carousel-text {
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  color: #fff;
  z-index: 2;
}
.home .section-5 .carousel-text h1 {
  font-size: 54px;
}
.home .section-5 .carousel-text h3 {
  font-size: 24px;
}
.home .section-5 .carousel-text p {
  font-size: 18px;
}
.home .section-6 h3 {
  color: #333;
  font-size: 24px;
}
.home .section-6 p,
.home .section-6 li {
  color: #808080;
  font-size: 14px;
}
.home .section-6 a {
  display: inline-block;
  color: #000;
  background-color: #d93;
  padding: 12px 24px;
  border: 1px solid #b5781e;
  border-radius: 4px;
}
.home .section-6 a:active {
  position: relative;
  top: 1px;
}
.home .section-6 a:hover, .home .section-6 a:active {
  color: #fff;
  background-color: #a62;
  text-decoration: none;
}
.home .section-7 {
  background-color: #ddd;
}
.home .section-7 h2 {
  font-size: 30px;
}
.home .section-7 p {
  font-size: 18px;
}

.the-whisky .section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/2016/06/selection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 18px;
}
.the-whisky .section-1 .col-12 {
  padding: 100px 0;
}
.the-whisky .section-1 .col-12 h1 {
  font-size: 70px;
}
.the-whisky .section-1 .col-12 p {
  margin-bottom: 30px;
}
.the-whisky .section-2 {
  padding: 20px 0;
}
.the-whisky .section-2 h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: #333;
}
.the-whisky .section-2 p {
  font-size: 18px;
  line-height: 1.45;
  color: #808080;
}
.the-whisky .section-2 a {
  color: #d93;
}
.the-whisky .section-2 a:hover {
  color: #a62;
  text-decoration: none;
}
.the-whisky .section-2 img {
  margin-bottom: 10px;
}
.the-whisky .section-3 h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: #333;
}
.the-whisky .section-4 {
  margin-bottom: 44px;
}
.the-whisky .section-4 .row .img-fluid {
  cursor: pointer;
}
.the-whisky .section-4 .modal .modal-dialog {
  max-width: 75vw;
  margin: 1.75rem auto;
}
.the-whisky .section-4 .modal .modal-dialog .close {
  position: absolute;
  right: -15%;
  color: #fff;
  z-index: 2;
}
.the-whisky .section-4 .modal .modal-dialog .carousel-control-prev {
  left: -15%;
}
.the-whisky .section-4 .modal .modal-dialog .carousel-control-next {
  right: -15%;
}

.home .section-1 .carousel:after,
.home .section-5 .carousel:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/*# sourceMappingURL=styles.css.map */
