$orange-1: #d93;
$orange-2: #a62;
$orange-3: #b5781e;
$gray-1: #333;
$gray-2: #e6e6e6;
$gray-3: #656565;
$gray-4: #444;
$gray-5: #ddd;
$gray-6: #aaa;
$gray-8: #222;
$gray-9: #808080;
$white: #fff;
$black: #000;
