header {
    background-color: $gray-8;
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
        a {
            color: $gray-5;
            &:hover {
                color: $orange-1;
                text-decoration: none;
            }
        }
        .navbar-toggler {
            color: $gray-5;
            &:focus {
                outline: none;
            }
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(221,221,221, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 15px;
                }
                hr {
                    border-color: #434343;
                }
            }
            .active>.nav-link {
                color: $orange-1;
            }
        }
    }
}

@media (min-width: 992px) {
    header {
        .navbar {
            .navbar-nav {
                .nav-item {
                    hr {
                        display: none;
                    }
                }
            }
        }
    }
}
