.home {
    .section-1 {
        .carousel-1-item {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            &-1 {
                background-image: url("/img/2018/05/cdb9cfdb-539f-4a55-97b2-0bd3ac2d4816.c10-1-1024x768.jpg");
            }
            &-2 {
                background-image: url("/img/2018/05/6460e15d-6024-4e10-9c72-9d3c3b737510.c10-1024x768.jpg");
            }
            &-3 {
                background-image: url("/img/2018/05/Theater-1-1024x576.jpg");
            }
            &-4 {
                background-image: url("/img/2018/05/99b2c518-54b9-4919-800b-bc695c8fb8ea.c10-1024x768.jpg");
            }
            &-5 {
                background-image: url("/img/2018/05/68e31014-c380-4964-a23d-a9f755b79f17.c10-1024x768.jpg");
            }
            &-6 {
                background-image: url("/img/2018/05/Ark-Foyer-1-1024x576.jpg");
            }
            &-7 {
                background-image: url("/img/2018/05/f04b47b3-2124-4ed3-933e-c2e93e9f1c4a.c10-1-1024x768.jpg");
            }
            &-8 {
                background-image: url("/img/2018/05/b0561cce-4557-4d80-958b-3a4c3eb3af93.c10-1-1024x768.jpg");
            }
        }
        .carousel-text {
            top: 0;
            right: 0;
            left: 0;
            padding: 200px 0;
            margin: 0 auto;
            text-shadow: 2px 3px 2px rgba(0, 0, 0, .4);
            z-index: 2;
            h1, h2 {
                font-family: "Oswald", sans-serif;
                color: $white;
            }
            h1 {
                font-size: 90px;
                font-weight: 500;
            }
            h2 {
                font-size: 30px;
                font-weight: 400;
            }
            h3 {
                font-size: 36px;
                color: $gray-5;
                font-weight: 700;
            }
        }

        @media (max-width: 767.98px) {
            .carousel-text {
                padding: 100px 0;
                h1 {
                    font-size: 50px;
                }
            }
        }
    }

    .section-2 {
        h3 {
            &.py-1.my-3 {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.4;
                color: $gray-1;
            }
        }
        .col-12.col-md-7 {
            color: $gray-9;
            p {
                font-size: 18px;
                line-height: 1.45;
            }
            a {
                color: $orange-1;
                &:hover {
                    color: $orange-2;
                    text-decoration: none;
                }
            }
        }
        ul {
            list-style: none;
            li {
                white-space: nowrap;
                .fa {
                    width: 44.8px;
                    height: 44.8px;
                    font-size: 36px;
                    font-weight: 900;
                    color: $orange-1;
                    vertical-align: middle;
                    text-align: center;
                    margin-right: 30px;
                }
                h3 {
                    font-family: "Georgia", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    color: $gray-1;
                    margin-bottom: 0;
                    white-space: normal;
                }
            }
        }
        @media (max-width: 575.98px) {
            ul {
                padding: 0;
                li {
                    width: 75%;
                    .fa {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    .section-3 {
        background-image: linear-gradient(0deg, rgba($black, .5), rgba($black, .5)), url("/img/2018/05/cdb9cfdb-539f-4a55-97b2-0bd3ac2d4816.c10.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $white;
        font-size: 18px;
        h1 {
            font-size: 36px;
        }
        h4 {
            font-size: 18px;
        }
        a {
            color: $orange-1;
            &:hover {
                color: $white;
                text-decoration: none;
            }
        }
        @media (max-width: 575.98px) {
            h1 {
                word-wrap: break-word;
            }
        }
    }

    .section-4 {
        .row.py-1.my-3 {
            .img-fluid.py-4 {
                cursor: pointer;
            }
        }
        .modal {
            .modal-dialog {
                max-width: 75vw;
                margin: 1.75rem auto;
                .close {
                    position: absolute;
                    right: -15%;
                    color: $white;
                    z-index: 2;
                }
                .carousel-control-prev {
                    left: -15%;
                }
                .carousel-control-next {
                    right: -15%;
                }
            }
        }
    }

    .section-5 {
        .carousel-3-item {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            &-1 {
                background-image: url("/img/2017/06/steak-1024x768.jpg");
            }
            &-2 {
                background-image: url("/img/2017/06/cheese-board-1024x768.jpg");
            }
            &-3 {
                background-image: url("/img/2017/06/2016-11-12-14.41.55-2-1024x1024.jpg");
            }
            &-4 {
                background-image: url("/img/2017/06/serving-dinner-1024x768.jpg");
            }
            &-5 {
                background-image: url("/img/2016/06/2015-11-14-20.38.15-1024x768.jpg");
            }
            &-6 {
                background-image: url("/img/2017/06/dinner-1024x768.jpg");
            }
        }
        .carousel-text {
            top: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            color: $white;
            z-index: 2;
            h1 {
                font-size: 54px;
            }
            h3 {
                font-size: 24px;
            }
            p {
                font-size: 18px;
            }
        }
    }

    .section-6 {
        h3 {
            color: $gray-1;
            font-size: 24px;
        }
        p, 
        li {
            color: $gray-9;
            font-size: 14px;
        }
        a {
            display: inline-block;
            color: $black;
            background-color: $orange-1;
            padding: 12px 24px;
            border: 1px solid $orange-3;
            border-radius: 4px;
            &:active {
                position: relative;
                top: 1px;
            }
            &:hover,
            &:active {
                color: $white;
                background-color: $orange-2;
                text-decoration: none;
            }
        }
    }

    .section-7 {
        background-color: $gray-5;
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 18px;
        }
    } 
}
