.section-1 {
    .carousel-1 {
        .carousel-inner {
            min-height: 704px;
        }
    }

    .carousel-text {
        top: 25%;
        right: 0;
        left: 0;
        margin: 0 auto;
        text-shadow: 2px 3px 2px rgba(0, 0, 0, .4);
        z-index: 2;
        h1, h2 {
            font-family: "Oswald", sans-serif;
            color: $white;
        }
        h1 {
            font-size: 90px;
            font-weight: 500;
        }
        h2 {
            font-size: 30px;
            font-weight: 400;
        }
        h3 {
            font-size: 36px;
            color: $gray-5;
            font-weight: 700;
        }
    }

    @media (max-width: 767.98px) {
        .carousel-text {
            h1 {
                font-size: 50px;
            }
        }
    }

    @media (max-width: 991.98px) {
        .carousel-1 {
            img {
                width: initial !important;
            }
        }
    }
}

.section-2 {
    h3 {
        &.py-1.my-3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.4;
            color: $gray-1;
        }
    }
    .col-12.col-md-7 {
        color: $gray-9;
        p {
            font-size: 18px;
            line-height: 1.45;
        }
        a {
            color: $orange-1;
            &:hover {
                color: $orange-2;
                text-decoration: none;
            }
        }
    }
    ul {
        list-style: none;
        li {
            h3 {
                font-family: "Georgia", sans-serif;
                font-size: 18px;
                font-weight: 400;
                color: $gray-1;
                margin-bottom: 0;
            }
        }
    }
}

.section-3 {
    background-image: linear-gradient(0deg, rgba($black, .5), rgba($black, .5)), url("/img/2018/05/cdb9cfdb-539f-4a55-97b2-0bd3ac2d4816.c10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    font-size: 18px;
    h1 {
        font-size: 36px;
    }
    h4 {
        font-size: 18px;
    }
    a {
        color: $orange-1;
        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}

.section-4 {
    .row.py-1.my-3 {
        .img-fluid.py-4 {
            cursor: pointer;
        }
    }
    .modal {
        .modal-dialog {
            max-width: 75vw;
            margin: 1.75rem auto;
            .close {
                position: absolute;
                right: -15%;
                color: $white;
                z-index: 2;
            }
            .carousel-control-prev {
                left: -15%;
            }
            .carousel-control-next {
                right: -15%;
            }
        }
    }
}
