.people {
    .section-1 {
        background-image: linear-gradient(0deg, rgba($black, .5), rgba($black, .5)), url("/img/2017/06/dinner-1024x768.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $white;
        font-size: 18px;
        .col-12 {
            padding: 20px 0;
            h1 {
                font-size: 70px;
                margin-top: 20px;
                margin-bottom: 40px;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
    .section-2 {
        a {
            i {
                font-size: 300px;
                color: $orange-1;
            }
            &:hover {
                i {
                    color: $orange-2;
                }
            }
        }
        h3 {
            font-size: 24px;
        }
        hr {
            border-color: $orange-1;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .card {
            border: none;
            img {
                border-radius: 100%;
            }
            &-body {
                padding-left: 0;
                padding-right: 0;
                h3 {
                    color: $gray-1;
                    margin: 0;
                }
                span,
                p {
                    font-size: 18px;
                    color: $gray-9;
                }
                hr {
                    margin: 10px 0;
                }
                a {
                    color: $orange-1;
                    &:hover {
                        color: $orange-2;
                        text-decoration: none;
                    }
                    i {
                        font-size: 30px;
                        color: $blue-1;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
