<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row pb-5">
                <div class="col-sm-12">
                    <h4>What Are You Waiting For?</h4>
                    <p>Reserve your spot at Web Whisky Weekend now — <a href="/register/"><strong>Register Here</strong></a></p>
                    <hr style="border-color: #555">
                    <div style="font-size: 13px; color: #777">
                        Important: Due to the nature of Web Whisky Weekend there are no refunds. If your schedule changes and you
                        can’t make it, you reserve the right to sell your ticket to someone else. Just know, you’ll be missed. Also,
                        this is a professional event and professional behavior is expected at all times.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <nav class="navbar">
                        {{ partial "nav2" . }}
                    </nav>
                </div>
                <div class="col-md-6 align-self-center">
                    Web Whisky Weekend is brought to you by the fine folks at <a href="https://www.ninelabs.com">Nine Labs</a>.
                </div>
            </div>
        </div>
    </div>
</footer>

{{ partial "scripts.html" }}

{{ range .Params.scripts }}
<script src="{{ . }}"></script>
{{ end }}
