<header>
    <nav class="navbar navbar-expand-lg">
        <a href="https://webwhiskyweekend.com/">
            <div><span style="color:#dd9933">★</span> WEB WHISKY WEEKEND 5</div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-uppercase justify-content-end" id="navbarNav">
            {{ partial "nav" . }}
        </div>
    </nav>
</header>
